<div class="well well-lg">
    <div class="form-horizontal center-block" role="form">
        <div class="form-group">
            <label for="firstName" class="col-md-2"> First Name</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="patient.firstName">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-md-2">Last Name</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="patient.lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="medicalID" class="col-md-2">Medical ID</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="medID" placeholder="Medical ID" ng-model="patient.medicalId">
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block btn-lg active" ng-click="submit()">Submit</button>
    </div>
</div>
