<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="patient in patients | orderBy: 'lastName'">
                    <td><a href='#/patientprofile/{{patient.patientId}}'>{{ patient.lastName }}</a>
                    </td>
                    <td><a href='#/patientprofile/{{patient.patientId}}'> {{ patient.firstName }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>