<div class="well" ng-controller="LoginCtrl">
    <form name="loginform" role="form" class="form-signin">
        <div class="form-group">
            <label for="username" class="sr-only">User Name</label>
            <input name="username"
                   type="text"
                   class="form-control"
                   id="username"
                   ng-model="username"
                   placeholder="Enter User Name"
                   ng-class="{'has-error': username.validity.valid}"
                   required
                   autofocus>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password" ng-model="password"
            placeholder="Enter Password" ng-class="{'has-error': password.validity.valid}"
            ng-MinLength = "4" name="password" ng-required = "true"required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign In</button>
    </form>
</div>
