<div class="row">
    <div class="col-md-12">
    	<h1 class="page-header">Patient Search</h1>
        <table ng-table="tableParams" show-filter="true" class="table table-hover ng-table-rowselected">
            <tr ng-repeat="patient in $data" ng-click="changeSelection(patient)">
                <td data-title="'Last Name'" sortable="'lastName'" filter="{ 'lastName': 'text' }">
                    {{patient.lastName}}
                </td>
                <td data-title="'First Name'" sortable="'firstName'" filter="{ 'firstName': 'text' }">
                    {{patient.firstName}}
                </td>
            </tr>
        </table>
    </div>
</div>